#!/usr/bin/env python
 #  -*-coding:utf8 -*-
PACKAGE = "base_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#修改之后要重新编译

#170*3.14=533.8mm
gen.add("wheel_circumference_mm", int_t,    0, "An Integer parameter", 534,  0,  1000) #轮子周长mm


#两个轮子正反转5圈，然后除以5
#902
gen.add("pulses_per_wheel_turn_around",    int_t,    0, "An Integer parameter", 898,  0, 10000) #轮子转一圈的脉冲数

#弃用
#打开雷达（正常测导航的时候雷达是打开的，加上雷达抖动的影响），放在地面上，逆转5圈，顺转5圈
gen.add("pulses_per_robot_turn_around",    int_t,    0, "An Integer parameter", 250,  0, 10000) # #wl m

gen.add("max_pwm",              int_t,    0, "An Integer parameter", 6400,  0, 10000)
gen.add("pid_p",                double_t,    0, "An Integer parameter", 50,  0,  200)
gen.add("pid_i",                double_t,    0, "An Integer parameter", 0.1,  0,  200)
gen.add("pid_d",                double_t,    0, "An Integer parameter", 10,  0,  200)

exit(gen.generate(PACKAGE, "base_control", "Base"))

